body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: rgba(230, 230, 230, 0.5);
}

form {
    text-align: center;
    flex-direction: column;
    display: flex;
    max-widht: 50vw;
}



form > fieldset {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
}

form > fieldset > h1{
    margin-bottom: 0.5rem;  
    text-transform: uppercase;
}

.input-group {
    padding: 0.5rem;
}

.select-group{
    padding: 1rem;
}


#new-password {
    margin-top: 1rem; 
   
}

#new-password > a:hover{
    color: rgba(0, 123, 255, 0.5);
}

button {
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 0.1rem solid black;
    width: 30%;
    background: gray;
    color: white;
    font-size: 1rem;
   
    cursor: pointer;
}

button:hover{
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
    
}


form input[type="text"],
form input[type="password"],
form select {
    padding: 0.2rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
 
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.input-group label {
    width: 5rem; 
    text-align: right;
    margin-right: 0.5rem; 
}

.input-group input[type="text"],
.input-group input[type="password"]{
 
    padding: 0.2rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem; 
}



